@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 6rem;
}

body {
  @apply bg-light text-primary-dark dark:text-light dark:bg-gradient-to-tr dark:from-slate-900 dark:to-slate-800;
}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }
  h2 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  }
  h3 {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
  }
  h4 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl;
  }
  h5 {
    @apply text-sm md:text-base lg:text-lg xl:text-xl;
  }
  h6 {
    @apply text-xs md:text-sm lg:text-base xl:text-lg;
  }
  p {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl;
  }
}

@layer components {
  #main {
    @apply relative overflow-hidden 
      p-4 lg:px-16 lg:py-8 xl:px-32 xl:py-16 2xl:px-48 2xl:py-24;
  }

  .page {
    @apply flex min-h-[calc(100vh-var(--navbar-height)-2rem)] 
    flex-col items-center
    justify-center  
    lg:min-h-[calc(100vh-var(--navbar-height)-4rem)]  
    xl:min-h-[calc(100vh-var(--navbar-height)-8rem)]  
    2xl:min-h-[calc(100vh-var(--navbar-height)-12rem)];
  }

  #header {
    @apply dark:border-primary-light border-primary
      flex 
      h-[var(--navbar-height)] items-center 
      justify-between border-b p-4 lg:px-16
      lg:py-8 xl:px-32 2xl:px-48;
  }

  /** MobileMenu */
  .mobile-menu {
    @apply from-primary-dark via-primary to-primary-light text-light/70
    dark:text-light
      absolute 
      left-0 right-0 top-[var(--navbar-height)] 
      z-[1000] 
      flex 
      h-[calc(100vh-var(--navbar-height))] 
      flex-col
      items-center
      justify-center
      bg-gradient-to-r 
      dark:bg-gradient-to-r 
    dark:from-slate-900
    dark:to-slate-800;
  }

  #footer {
    @apply dark:border-primary-light
      flex
      h-[var(--navbar-height)]
      items-center 
      justify-between border-t
      p-4 lg:px-16 lg:py-8 xl:px-32 2xl:px-48;
  }

  .btn {
    @apply text-light bg-primary-light border-primary rounded-md px-4 py-2;
  }

  /** links */
  .nav-link {
    @apply text-inherit;
  }

  .underline-gradient-link {
    @apply hover:after:from-primary-dark
      hover:after:to-primary-light
      focus:after:from-primary-dark

      focus:after:to-primary-light
      active:after:from-primary-dark
      active:after:to-primary-light

      relative
      transition-all
      duration-300
      
      ease-in-out

      after:absolute
      after:bottom-[-0.1em] 
      after:left-0 
      after:h-[0.1em] 
      after:w-0 after:transition-all  after:duration-500
      after:ease-in-out
      after:content-[""] hover:after:w-full  hover:after:bg-gradient-to-r
      focus:after:w-full
      focus:after:bg-gradient-to-r active:after:w-full  active:after:bg-gradient-to-r;
  }
}
