@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 6rem;
}

body {
  @apply bg-light text-dark;
}

@layer base {
  h1 {
    @apply my-4 text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }
  h1.title {
    @apply text-3xl font-bold capitalize tracking-wide opacity-90 md:text-4xl lg:text-5xl xl:text-6xl;
  }
  h2 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  }
  h3 {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
  }
  h4 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl;
  }
  h5 {
    @apply text-sm md:text-base lg:text-lg xl:text-xl;
  }
  h6 {
    @apply text-xs md:text-sm lg:text-base xl:text-lg;
  }
  p {
    @apply text-base opacity-60 md:text-lg lg:text-xl;
  }
}

@layer components {
  #main {
    @apply overflow-hidden;
  }

  .padding-container {
    @apply container mx-auto p-4 lg:px-16 lg:py-8 xl:px-32 xl:py-16 2xl:px-48 2xl:py-24;
  }
  .padding-container-x {
    @apply container mx-auto px-4 lg:px-16 xl:px-32 2xl:px-48;
  }

  .mt-section-top {
    @apply mt-[calc(var(--navbar-height))];
  }

  .min-h-section-full-page {
    @apply min-h-[calc(100dvh-var(--navbar-height))];
  }

  .bg-section-accent {
    @apply bg-gradient-to-r from-slate-900 to-slate-800;
  }

  .header {
    @apply fixed 
      left-0 
      right-0 top-0 z-[9999] 
      flex
      h-[var(--navbar-height)] items-center
      border-b 
      border-primary
      bg-light opacity-100;
  }

  /** MobileMenu */
  .mobile-menu {
    @apply absolute left-0 right-0 top-[var(--navbar-height)]
      z-[1000] 
      flex h-[calc(100dvh-var(--navbar-height))] flex-col 
      items-center 
      justify-center 
      bg-gradient-to-r 
      from-primary-dark
      via-primary
      to-primary-light
      text-light/70;
  }

  .footer {
    @apply flex
      h-[var(--navbar-height)]
      items-center 
      border-t
      border-primary;
  }
}

@layer utilities {
  /** text colors */
  .text-gradient,
  .nav-link {
    @apply bg-gradient-to-r from-primary-dark to-primary-light bg-clip-text text-transparent;
  }
  .nav-link-mobile {
    @apply bg-gradient-to-r from-light/50 to-light bg-clip-text text-transparent;
  }

  .underline-gradient-link {
    @apply relative
      transition-all
      duration-300

      ease-in-out
      after:absolute
      after:bottom-[-0.1em]

      after:left-0
      after:h-[0.1em]
      after:w-0
      after:transition-all

      after:duration-500
      after:ease-in-out 
      after:content-[""] 
      hover:after:w-full 
      hover:after:bg-gradient-to-r 
      hover:after:from-primary-dark hover:after:to-primary-light
      focus:after:w-full
      focus:after:bg-gradient-to-r 
      focus:after:from-primary-dark  
      focus:after:to-primary-light
      active:after:w-full
      active:after:bg-gradient-to-r 
      active:after:from-primary-dark
      active:after:to-primary-light;
  }

  /** buttons */
  .btn-gradient-green {
    @apply bg-gradient-to-r
      from-primary-dark 
      to-primary-light
      text-light
      shadow-primary-dark
      ring-primary-light
      
      hover:scale-105
      hover:shadow-sm
      hover:shadow-secondary-light;
  }

  .btn-outline-green {
    @apply ring-1 
      ring-primary-dark 
      
        hover:bg-gradient-to-r
      hover:from-primary-dark
      hover:to-primary-light 
      hover:text-light
      hover:shadow-primary-dark;
  }

  .btn-outline-light {
    @apply bg-gradient-to-r 
      from-gray-100 
      to-light
      text-primary-dark hover:from-slate-900
      hover:to-slate-800

        hover:text-primary-light
      hover:shadow-light
      hover:ring-1
      hover:ring-light
      hover:first-line:bg-gradient-to-r;
  }

  .btn-outline-dark {
    @apply bg-gradient-to-r 
      from-slate-900 
      to-slate-800
      text-light ring-1
      ring-light

        hover:bg-gradient-to-r
      hover:from-gray-100
      hover:to-light
      hover:text-primary-dark
      hover:shadow-dark
      hover:ring-light;
  }

  /** hero bg  */
  .hero-bg {
    @apply absolute
    bottom-0 
    left-8
    right-0 
    top-60 
    bg-hero-map-bg
    bg-cover bg-center
    sm:bottom-24
    lg:bottom-32
    lg:left-[32rem]
    lg:top-0;
  }

  /** camp bg  */
  .camp-images-wrapper {
    @apply relative flex h-[52vh] overflow-x-auto sm:h-[58vh] md:h-[64vh] lg:h-[76vh];
  }
  .camp-bg {
    @apply absolute bottom-0
    top-0
    h-full
    w-[calc(100vw-2rem)] 
    bg-cover
    bg-center
    bg-no-repeat
    lg:w-[48.5vw]
    xl:w-[42.5vw]
    2xl:w-[37.5vw];
  }
  .camp-1-bg {
    @apply left-0
    right-0 
    bg-camp-1-bg
    lg:right-[48.5vw]
    xl:right-[42.5vw]
    2xl:right-[37.5vw];
  }
  .camp-2-bg {
    @apply left-[101vw]
    right-[201vw]
    bg-camp-2-bg
    lg:left-[50.5vw]
    lg:right-0
    xl:left-[44.5vw] 
    2xl:left-[39.5vw];
  }

  /** guide bg  */
  .guide-bg {
    @apply absolute 
    bottom-2 
    left-0 
    right-0 
    h-[38vh]
    
    bg-guide-bg
    bg-cover 
    bg-center 
    bg-no-repeat 

    xs:h-[52vh] 
    lg:h-[54vh]
    xl:h-[52vh];
  }
}
