@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 6rem;
}

body {
  @apply bg-light text-dark;
}

@layer base {
  h1 {
    @apply my-4 text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }
  h1.hero-title {
    @apply text-3xl font-bold capitalize tracking-wide md:text-4xl lg:text-5xl xl:text-6xl;
  }
  h2 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  }
  h3 {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
  }
  h4 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl;
  }
  h5 {
    @apply text-sm md:text-base lg:text-lg xl:text-xl;
  }
  h6 {
    @apply text-xs md:text-sm lg:text-base xl:text-lg;
  }
  p {
    @apply text-base opacity-60 md:text-lg lg:text-xl xl:text-2xl;
  }
}

@layer components {
  #main {
    @apply relative overflow-hidden 
      p-4 lg:px-16 lg:py-8 xl:px-32 xl:py-16 2xl:px-48 2xl:py-24;
  }

  .page {
    @apply min-h-[calc(100dvh-var(--navbar-height)-2rem)]  
    lg:min-h-[calc(100dvh-var(--navbar-height)-4rem)]  
    xl:min-h-[calc(100dvh-var(--navbar-height)-8rem)]  
    2xl:min-h-[calc(100dvh-var(--navbar-height)-12rem)];
  }

  .section-top {
    @apply mt-[calc(var(--navbar-height))];
  }

  .section-full-page {
    @apply min-h-[calc(100dvh-var(--navbar-height)-1rem)]  
    lg:min-h-[calc(100dvh-var(--navbar-height)-2rem)]  
    xl:min-h-[calc(100dvh-var(--navbar-height)-4rem)]  
    2xl:min-h-[calc(100dvh-var(--navbar-height)-6rem)];
  }

  #header {
    @apply border-primary bg-light fixed left-0 right-0
      top-0 z-[9999]
      flex 
      h-[var(--navbar-height)] items-center 
      justify-between border-b p-4
      opacity-100 lg:px-16 lg:py-8
      xl:px-32 2xl:px-48;
  }

  /** MobileMenu */
  .mobile-menu {
    @apply from-primary-dark via-primary to-primary-light text-light/70
      absolute 
      left-0 right-0 top-[var(--navbar-height)] 
      z-[1000] 
      flex 
      h-[calc(100dvh-var(--navbar-height))] 
      flex-col
      items-center
      justify-center
      bg-gradient-to-r;
  }

  #footer {
    @apply flex
      h-[var(--navbar-height)]
      items-center 
      justify-between border-t
      p-4
       lg:px-16 lg:py-8 xl:px-32 2xl:px-48;
  }
}

@layer utilities {
  /** text colors */
  .text-gradient,
  .nav-link {
    @apply from-primary-dark to-primary-light bg-gradient-to-r bg-clip-text text-transparent;
  }
  .nav-link-mobile {
    @apply from-light/50 to-light bg-gradient-to-r bg-clip-text text-transparent;
  }

  .underline-gradient-link {
    @apply hover:after:from-primary-dark
      hover:after:to-primary-light
      focus:after:from-primary-dark

      focus:after:to-primary-light
      active:after:from-primary-dark
      active:after:to-primary-light

      relative
      transition-all
      duration-300
      ease-in-out

      after:absolute
      after:bottom-[-0.1em] 
      after:left-0 
      after:h-[0.1em] 
      after:w-0 
      after:transition-all after:duration-500
      after:ease-in-out
      after:content-[""] 
      hover:after:w-full  
      hover:after:bg-gradient-to-r
      focus:after:w-full
      focus:after:bg-gradient-to-r 
      active:after:w-full
      active:after:bg-gradient-to-r;
  }

  /** buttons */
  .btn-gradient-green {
    @apply text-light
      from-primary-dark 
      shadow-primary-dark
      to-primary-light
        hover:shadow-secondary-light
        ring-primary-light
        bg-gradient-to-r
        hover:scale-105
        hover:shadow-sm;
  }

  .btn-outline-green {
    @apply ring-primary-dark 
      hover:shadow-primary-dark 
      hover:text-light
      hover:from-primary-dark
      hover:to-primary-light 
        ring-1
        hover:bg-gradient-to-r;
  }

  /** hero */
  .hero-bg {
    @apply bg-hero-pattern-bg
    absolute 
    -left-12
    bottom-0 
    right-0 
    top-60
    rounded-md
    bg-cover bg-center
    lg:-left-16 
    lg:bottom-32
    lg:top-0
    xl:left-32
    2xl:left-60;
  }
}
